{%extends "layout/base.html"%}
{%block title%} Achat {%endblock%}

{%block head%}

<link rel="stylesheet" href="static/css/publications.css">

{%endblock%}

{%block content%}

{%for achat in achats%}
    <div class="ligne">
        <div class="photo">
            <img src="{{achat[3]}}">
        </div>
        <div class="username">
            <a href="/visitprofile{{achat[1]}}">{{achat[1]}}</a>
        </div>
        <div class="nb_publications">
            description: {{achat[2]}}
        </div>
        <div>
        <form action="/achats" method="POST">
            <div class="annulation">
            <input type="hidden" name="idpost" value={{achat[0]}} >
            <button type='submit'>Annuler</button>
            </div>
        </form>
        </div>
    </div>
{%endfor%}

{%endblock%}