{% extends "layout/base_login.html" %}

{% block head %}

<title>PotaG - Connexion</title>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}

   <body>
      <div class="wrapper">
         <div class="title">
            Mot de passe
         </div>

          {% if error %}
	        <p class=error><strong>Erreur:</strong> {{ error }}
          {% endif %}

         <form action="/password" method="POST">


            <div class="field">
               <input type="password" id="password" name="password" required>
               <label>Mot de passe</label>
            </div>


            <div class="content">
               <div class="checkbox">
                  <input type="checkbox" id="show" onclick="showPassword('password')">
                  <label for="show">Afficher le mot de passe</label>
               </div>
            </div>
         
            <div class="content">
               <div class="pass-link">
                  <a href="#">Mot de passe oublié?</a>
               </div>
            </div>


            <div class="field">
               <input type="submit" name="connection" value="Connexion">
            </div>

             <div class="signup-link">
             <a class="redirection" href="/login">Ce n'est pas votre compte?</a>
             </div>

         </form>
      </div>
   </body>


{% endblock %}